/BaseOfComponent.domain/bin/Debug/BaseOfComponent.domain.dll
/BaseOfComponent.domain/bin/Debug/BaseOfComponent.domain.dll.config
/BaseOfComponent.domain/bin/Debug/BaseOfComponent.domain.pdb
/BaseOfComponent.domain/bin/Debug/EntityFramework.dll
/BaseOfComponent.domain/bin/Debug/EntityFramework.SqlServer.dll
/BaseOfComponent.domain/bin/Debug/EntityFramework.SqlServer.xml
/BaseOfComponent.domain/bin/Debug/EntityFramework.xml
/.vs/BaseOfComponent/v15/.suo
/.vs/BaseOfComponent/v15/Server/sqlite3/db.lock
/.vs/BaseOfComponent/v15/Server/sqlite3/storage.ide
/BaseOfComponent.domain/obj/Debug/BaseOfComponent.domain.csproj.CopyComplete
/BaseOfComponent.domain/obj/Debug/BaseOfComponent.domain.csproj.CoreCompileInputs.cache
/BaseOfComponent.domain/obj/Debug/BaseOfComponent.domain.csproj.FileListAbsolute.txt
/BaseOfComponent.domain/obj/Debug/BaseOfComponent.domain.csprojResolveAssemblyReference.cache
/BaseOfComponent.domain/obj/Debug/BaseOfComponent.domain.dll
/BaseOfComponent.domain/obj/Debug/BaseOfComponent.domain.pdb
/BaseOfComponent.domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BaseOfComponent.domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BaseOfComponent.domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BaseOfComponent.domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BaseOfComponent/bin/Debug/BaseOfComponent.exe
/BaseOfComponent/bin/Debug/BaseOfComponent.exe.config
/BaseOfComponent/bin/Debug/BaseOfComponent.pdb
/BaseOfComponent/bin/Debug/config.ini
/BaseOfComponent/bin/Debug/EntityFramework.dll
/BaseOfComponent/bin/Debug/EntityFramework.SqlServer.dll
/BaseOfComponent/bin/Debug/EntityFramework.SqlServer.xml
/BaseOfComponent/bin/Debug/EntityFramework.xml
/BaseOfComponent/obj/Debug/App.g.cs
/BaseOfComponent/obj/Debug/App.g.i.cs
/BaseOfComponent/obj/Debug/BaseOfComponent.csproj.CopyComplete
/BaseOfComponent/obj/Debug/BaseOfComponent.csproj.CoreCompileInputs.cache
/BaseOfComponent/obj/Debug/BaseOfComponent.csproj.FileListAbsolute.txt
/BaseOfComponent/obj/Debug/BaseOfComponent.csproj.GenerateResource.cache
/BaseOfComponent/obj/Debug/BaseOfComponent.csprojResolveAssemblyReference.cache
/BaseOfComponent/obj/Debug/BaseOfComponent.exe
/BaseOfComponent/obj/Debug/BaseOfComponent.g.resources
/BaseOfComponent/obj/Debug/BaseOfComponent.pdb
/BaseOfComponent/obj/Debug/BaseOfComponent.Properties.Resources.resources
/BaseOfComponent/obj/Debug/BaseOfComponent_MarkupCompile.cache
/BaseOfComponent/obj/Debug/BaseOfComponent_MarkupCompile.i.cache
/BaseOfComponent/obj/Debug/BaseOfComponent_MarkupCompile.i.lref
/BaseOfComponent/obj/Debug/BaseOfComponent_MarkupCompile.lref
/BaseOfComponent/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BaseOfComponent/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BaseOfComponent/obj/Debug/MainWindow.g.cs
/BaseOfComponent/obj/Debug/MainWindow.g.i.cs
/BaseOfComponent/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BaseOfComponent/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BaseOfComponent/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BaseOfComponent/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/BaseOfComponentWinform/bin/Debug/BaseOfComponent.domain.dll
/BaseOfComponentWinform/bin/Debug/BaseOfComponent.domain.dll.config
/BaseOfComponentWinform/bin/Debug/BaseOfComponent.domain.pdb
/BaseOfComponentWinform/bin/Debug/BaseOfComponentWinform.exe
/BaseOfComponentWinform/bin/Debug/BaseOfComponentWinform.exe.config
/BaseOfComponentWinform/bin/Debug/BaseOfComponentWinform.pdb
/BaseOfComponentWinform/bin/Debug/EntityFramework.dll
/BaseOfComponentWinform/bin/Debug/EntityFramework.SqlServer.dll
/BaseOfComponentWinform/bin/Debug/EntityFramework.SqlServer.xml
/BaseOfComponentWinform/bin/Debug/EntityFramework.xml
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.AddWin.resources
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.csproj.CopyComplete
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.csproj.CoreCompileInputs.cache
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.csproj.FileListAbsolute.txt
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.csproj.GenerateResource.cache
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.csprojResolveAssemblyReference.cache
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.exe
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.Form1.resources
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.pdb
/BaseOfComponentWinform/obj/Debug/BaseOfComponentWinform.Properties.Resources.resources
/BaseOfComponentWinform/obj/Debug/build.force
/BaseOfComponentWinform/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BaseOfComponentWinform/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BaseOfComponentWinform/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BaseOfComponentWinform/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BaseOfComponentWinform/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BaseOfComponent/bin/Debug/BaseOfComponent.domain.dll
/BaseOfComponent/bin/Debug/BaseOfComponent.domain.dll.config
/BaseOfComponent/bin/Debug/BaseOfComponent.domain.pdb
/BaseOfComponent/obj/Debug/MainWindow.baml
/BaseOfComponentWinform/bin/Debug/FluentMigrator.Abstractions.dll
/BaseOfComponentWinform/bin/Debug/FluentMigrator.Abstractions.pdb
/BaseOfComponentWinform/bin/Debug/FluentMigrator.Abstractions.xml
/BaseOfComponentWinform/bin/Debug/FluentMigrator.dll
/BaseOfComponentWinform/bin/Debug/FluentMigrator.pdb
/BaseOfComponentWinform/bin/Debug/FluentMigrator.xml
/BaseOfComponentWinform/bin/Debug/de-DE/FluentMigrator.Abstractions.resources.dll
